{% extends "Site/site_base.html" %}

{% block content %}

<div class="row">

    <div id="welcome" class="col-md-12 col-xs-12">
        <h2><strong>Welcome to ActiveAMT</strong></h2>
        <hr>
    </div>

    <div id="welcomepara" class="col-md-12 col-xs-12">
       Bacon ipsum dolor amet rump jerky leberkas, pancetta frankfurter meatloaf drumstick venison turkey filet mignon pork loin tail shankle salami. Alcatra swine tenderloin rump, pork hamburger sausage tongue corned beef meatloaf andouille cupim flank chuck bacon. Jowl cow jerky meatball pig frankfurter, capicola flank pastrami chicken beef tri-tip. Pig cupim swine andouille picanha tri-tip brisket strip steak cow salami drumstick chuck. Tenderloin pig shankle shoulder venison kevin jowl andouille drumstick ground round short loin tongue brisket ham hock boudin. Beef kevin ground round pork chop, hamburger pig short loin ribeye ham hock swine. Pork belly tri-tip rump bacon alcatra ham hock, shankle ribeye.
    </div>
</div>

{% endblock %}