{% extends "Site/site_base.html" %}

{% block content %}

<div class="row">

    <div id="heading" class="col-md-12 col-xs-12">
        <h2><strong>How to use ActiveAMT</strong></h2>
        <hr>
    </div>

    <div id="bodytext" class="col-md-12 col-xs-12">
        <h3 class="underlined">Getting Started</h3>
        <p> Bacon ipsum dolor amet rump jerky leberkas, pancetta frankfurter meatloaf drumstick venison turkey filet mignon pork loin tail shankle salami. Alcatra swine tenderloin rump, pork hamburger sausage tongue corned beef meatloaf andouille cupim flank chuck bacon. Jowl cow jerky meatball pig frankfurter, capicola flank pastrami chicken beef tri-tip. Pig cupim swine andouille picanha tri-tip brisket strip steak cow salami drumstick chuck. Tenderloin pig shankle shoulder venison kevin jowl andouille drumstick ground round short loin tongue brisket ham hock boudin. Beef kevin ground round pork chop, hamburger pig short loin ribeye ham hock swine. Pork belly tri-tip rump bacon alcatra ham hock, shankle ribeye.</p>
        <p>Short loin spare ribs tongue filet mignon kielbasa prosciutto meatloaf andouille capicola ham hock meatball strip steak pancetta bresaola. Shoulder kielbasa filet mignon venison, turkey shank flank tongue. Capicola pork belly brisket porchetta ball tip, andouille jerky salami filet mignon. Pig pancetta pastrami, doner meatball alcatra pork loin flank fatback chuck.</p>

        <h3 class="underlined">Available Methods</h3>
        <p>Bacon ipsum dolor amet bresaola meatloaf drumstick porchetta. Cow pork loin cupim rump. Shank meatball pork chop chicken ribeye. Doner sausage prosciutto, pork turkey venison beef ribs.</p>

        <h3 class="underlined">Acceptable Tasks</h3>
        <p>Boudin filet mignon alcatra, salami tenderloin venison fatback sirloin pork chop ribeye pastrami pork belly tongue. Rump pancetta frankfurter cow pig chuck. Tenderloin prosciutto t-bone ball tip ham short ribs pastrami turkey corned beef capicola rump porchetta brisket sausage cow. Frankfurter shank ham hock tail hamburger, andouille pork belly tongue pork loin tri-tip meatloaf jowl. Kevin pork ball tip meatball short ribs beef.</p>
    </div>
</div>

{% endblock %}