td, th{
    font-size: 120%;
    font-weight: bold;
}

#isAdmin{
    height: 15px;
    width: 15px;
    margin-left: 5px;
    position: absolute;
}

#adminCheckbox{

}

.glyphicon-triangle-bottom{
    margin-left: 5px;
    margin-right: -2px;
    font-size: 95%;
}

h3 {
    font-weight: bold;
}

.glyphicon-pencil, .glyphicon-trash, .glyphicon-floppy-saved, .glyphicon-floppy-remove{
    margin-right: 4px;
    font-size: 80%;
}

.glyphicon-plus-sign, .glyphicon-ok-sign, .glyphicon-remove-sign{
    margin-right: 4px;
    font-size: 90%;
}

#manageBar{
    margin-bottom: 5px;
}

.table{
    background-color: cornflowerblue;
    margin-bottom: 0;
}

.table > thead > tr {
    background-color: lightslategray;
}

.table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
}

.table > tbody > tr > td > button{

}

.table > thead > tr > th > a{
    color: #333333;
}

.glyphicon-chevron-down, .glyphicon-chevron-up{
    font-size: 85%;
    margin-left: 3px;
}

.glyphicon-ok{
    margin-right: 6px;
    color: cornflowerblue;
}

.table > tbody > tr > td > span{

}

.help-block{
    font-size: 90%;
    color: #333333;
}

.inner_button{
    margin-left: 0;
}

.outer_button{
    margin-left: 6px;
}

.col-xs-12{
    margin-bottom: 5px;
}

#admin_table_checkbox{
    margin-top: 8px;
    height: 18px;
    width: 18px;
}

@media(max-width: 991px) and (min-width: 768px){
    #save_cancel_block{
        margin-right: 40px;
    }
}