<!DOCTYPE HTML>

<html lang="en-US">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        {% if css %}
        <link href="{{ url_for('static', filename='css/{}'.format(css)) }}" rel="stylesheet"/>
        {% endif %}
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>ActiveAMT HIT Page</title>
        {% endif %}

        <style>
            .container{
                padding-top: 20px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/answer_collector.js') }}"></script>

    </body>

</html>