{% extends "HITs/hit_base.html" %}

{% block content %}

        <form role="FORM" action="https://workersandbox.mturk.com/mturk/externalSubmit" method="POST">

            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <div class="form-group">
                        <label for="hit_ans">{{hit_info['hit_quest']}}</label>
                        <img id="hit_img" src="{{hit_info['img_src']}}" class="img img-responsive img-rounded">
                        <input id="hit_ans" {{enabled}} autofocus required type="text" class="form-control collectable" placeholder="Answer" name="answer"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-7 col-md-3 col-xs-12">
                    <button {{enabled}} type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>

            <div id="hidden_items" class="hidden">
                <input type="text" name="assignmentId" value="{{hit_info['assignmentId']}}"/>
            </div>

        </form>

{% endblock %}